.btn-submit {
  text-align: right;
}
.close-icon {
  background-color: white;
  border: none;
  font-size: 20px;
  color: gray;
}
strong {
  padding-left: 0px;
}
.pl-2 {
  padding-left: 20px;
}
.gray {
  color: gray
}
.error-field {
  margin-top: -5px;
  color: #F34141;
}