<div class="container transaction">
  <div class="row padding-content">
    <div class="col-xl-2 col-lg-1 col-md-1"></div>
    <div class="col-xl-3 col-lg-4 col-md-4 padding-sub sub-content make-payment">
      <div class="title">
        <label class="font-title"><strong><i class="lni lni-folder"></i> Make</strong> transfer</label>
      </div>
      <app-payment></app-payment>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 padding-sub sub-content">
      <div class="title">
        <label class="font-title"><i class="lni lni-list"></i> Transaction <strong>List</strong> </label>
      </div>
      <app-transactionlist [transactions]="transactions"></app-transactionlist>
    </div>
  </div>
</div>
