/* You can add global styles to this file, and also import other style files */
$red: #F34141;
$green: #04AA6D;
$orange: #ec6f31;
$gray: gray;
$white: white;
$black: black;
$blue: #02a1e0;

html {
  overflow: hidden;
  padding: 0;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: $orange;
  border-color: $orange;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  color: $black;
  background-color: $white;
  border-color: $black;
}
.modal-backdrop { 
  display: none;
}
.modal-content {
  box-shadow: 0px 0px 00px 1500px #00000085;
}
// import your own custom files, e.g.
